.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.logo-center {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    
}

.to-der {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}